<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	<link rel="preconnect" href="//fonts.gstatic.com" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <title>notes.dot.kitchen</title>

  {{ghost_head}}
</head>

<body>
  <nav class="nav">
    <a class="nav-link active" href="/about">@infuerno</a>
    <a class="nav-link" href="/">notes</a>
    <a class="nav-link" href="/projects">projects</a>
    <a class="nav-link" href="/colophon">colophon</a>
    <a class="nav-link" href="/elsewhere">elsewhere</a>
  </nav>
          <!--<h2><small class="text-muted">notes and quirks from the department of technology's kitchen</small></h2>-->
  <section id="main">
    <div class="container">
      <div class="row">
        <div id="logo" class="col-2">
					<svg xmlns="http://www.w3.org/2000/svg" 
							xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500">
							<path d="M243.2, 382.4c-74.8,   
							0-135.5-60.7-135.5-135.5s60.7-135.5,135.5-135.5s135.5, 60.7, 135.5,
							135.5 S318, 382.4, 243.2, 382.4z" id="textcircle" transform="rotate(5 250 250)" fill="transparent"/>
							<text dy="25">
									<textPath xlink:href="#textcircle">
											notes dot kitchen
									</textPath>
							</text>
					</svg>
				</div>
        <div class="col-10">
          {{{body}}}
        </div>
      </div>
    </div>
  </section>
  
  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
        var container = image.closest('.kg-gallery-image');
        var width = image.attributes.width.value;
        var height = image.attributes.height.value;
        var ratio = width / height;
        container.style.flex = ratio + ' 1 0%';
    })
  </script>
  
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  {{ghost_foot}}
</body>

</html>