/*
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color:$accent}
}
*/

/* light is default mode, so pair with general html definition */

/*
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  { @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)}
html * {
    color-profile: sRGB;
    rendering-intent: auto;
}
*/

html {
  font-size: 0.8rem;
}

body {
  background: #FFFFFF;
  color: #657b83;
}

/* ensure no images are larger than 600px */
img {
  width: 100%;
  max-width: 600px;
}

#title {
  padding-top: 10px;
}

.nav,
.nav a {
  background-color: #93a1a1;
  color: #586e75;
}

.nav-link {
  padding: .2rem 1rem;
}

.nav-link.active {
  color: #eee8d5;
  background-color: #d33682;
  width: 100px;
}

a:hover.nav-link {
  color: #eee8d5;
  background-color: #93a1a1;
}

a:hover.nav-link.active {
  font-weight: bold;
  background-color: #d33682;
}

#title h1 {
  color: #000;
  font-family: 'IM Fell English', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Unna', serif;
}

h1 a {
  border-bottom: 1px solid;
}

a,
a:hover {
  color: #d33682;
  text-decoration: none;
}

a:hover {
  background-color: #eee8d5;
}

/* for Ghost 2.0 */
.kg-width-wide {
  position: relative;
  width: 85vw;
  min-width: 100%;
  margin: auto calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}

.kg-width-full {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.kg-image-card,
.kg-gallery-card {
    margin: 0 0 1.5em;
}

.kg-image-card figcaption,
.kg-gallery-card figcaption {
    margin: -1.0em 0 1.5em;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin: 1.5em auto;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}
 .kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}
 .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}